.mat-display-1 {
    margin: 0;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .buttons{
    display: flex;
    justify-content: flex-end;
  }

  button {
    margin: 10px;
  }