/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
    padding: 0px;
    margin: 0px;
}

.sidebar2{
    width: 100%;
}

.mat-expansion-panel-body{
    padding: 0px;
}

.mat-card {
    margin: 20px;
}

.mat-raised-button.mat-primary{
    background-color: #337ab7;
}

.margin-left-10{
    margin-left: 10px;
}
.fr {
    align-content: flex-end;
}